/* always start with the most generally applicable styles (tags) 
and then get more specific as you drill down */

/* 0 out crappy edge margins on the page */
html,
body {
  margin: 0;
}

/* some generic styles for our div elements so we can see them nest */
div {
  border: 1px solid red;
  background-color: rgba(255, 150, 50, 0.2);
}

/* absolute positioned elements without a positioned parent
will be positioned in relation to the entire browser window */
.abs-no-parent-pos {
  background-color: cornflowerblue;
  width: 50%;
  position: absolute;
  top: 20%;
  right: 100px;
}

.rel-parent-pos {
  width: 50%;
  height: 100vh;
  background-color: blueviolet;
  /* If you want to position something absolutely inside of another element, 
  the parent element needs to be positioned relative  */
  position: relative;
  /* right: -300px; */
}

.abs-rel-parent-pos {
  background-color: rgb(12,237,16);
  width: 200px;
  height:200px;
  position: absolute;
  bottom:100px;
  right:0;
}

header {
  background-color: coral;
  height:100px;
  width: 100%;
  position:fixed;
  /* think of z-index as draw order */
  z-index:10;
}